body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}

header {
    background-color: #333;
    padding: 5px;
    text-align: center;
    width: 100%;
    z-index: 100;
    color: #fff;
}

header h1 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

#usuario-info {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
}

#usuario-info a {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: #ff0000;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

#usuario-info a:hover {
  background-color: #e60000;
}


nav {
    background-color: #333;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 50;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 5px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background-color: #444;
    border-radius: 5px;
    font-size: 0.8em;
}
/* Estilo para el botón */
.buttonp {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Estilo al pasar el puntero */
.buttonp:hover {
  background-color: #5DADE2;
}

/* Estilo al hacer clic o estar enfocado */
.buttonp:focus,
.buttonp:active {
  background-color: #777;
}

main {
    padding: 10px;
    margin-top: 10px; /* Ajusta este valor según la altura de tu encabezado y tu barra de navegación */
}

#campo-dinamico {
    background-color: #555;
    color: #fff;
    padding: 20px;
    border: 1px solid #fff;
    text-align: center;
    margin: 20px auto;
    width: 80%; /* Ajusta este valor según tus necesidades */
}