
#campo-dinamico body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    color: #333;
}

h1, h2, a {
    color: #007BFF;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th:first-child, td:first-child {
    width: 100px;  /* O cualquier otra dimensión fija que desees */
}

th, td {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    color: black;
}

th {
    background-color: #007BFF;
    color: white;
}

tr:hover {
    background-color: #c4c4c4;
}

/* Styles for the year selector and the button */
label {
    font-weight: 500;
    margin-right: 10px;
}

input[type="number"], button {
    padding: 10px 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: 1px solid #007BFF;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
