.row.text-center {
  text-align: left;
}
body {
    font-family: 'Roboto', sans-serif;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

#myImage {
  max-width: 100px;  // Cambia esto al tamaño que quieras
  height: auto;  // Esto mantendrá la proporción de la imagen
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"].form-control {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.input-label {
  font-size: 20px;
}

select#searchLocation {
  padding: 8px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  color: #333;
}

select#searchLocation option {
  padding: 10px;
}

button.btn.btn-primary {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.btn.btn-primary:hover {
  background-color: #34495E;
}
.buttont {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.buttont:hover {
  background-color: #34495E;
}
.button:hover {
  background-color: #34495E;
}

#campo-dinamico h1 {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}

p {
  text-align: left;
  margin-bottom: 5px;
}

.no-results {
  font-style: italic;
  color: #999;
}

.date-info {
  font-weight: bold;
}

.system-data {
  margin-top: 30px;
}

.system-data p {
  margin-bottom: 5px;
}
