/* Reset básico para estandarizar los estilos en diferentes navegadores */
#campo-dinamico * {
  padding: 0;
  box-sizing: border-box;
}

#campo-dinamico body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

#campo-dinamico .container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#campo-dinamico .column {
  width: 48%; /* Esto permite un pequeño espacio entre las columnas */
}

#campo-dinamico .titulo {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
}

#campo-dinamico .campo_input {
  margin-bottom: 10px;
}

#campo-dinamico .input-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
}

#campo-dinamico .input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#campo-dinamico .button-section {
  text-align: center;
}

#campo-dinamico .btn {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

#campo-dinamico .btn:hover {
  background-color: #0056b3;
}
