<!DOCTYPE html>
<html>
<head>
    <title>Asignar Docente a Sección</title>
    <!-- Asegúrate de incluir jQuery antes de tu script -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/js/asignar_secciones.js"></script>
</head>
<body>
    <button id="limpiar-asignaciones-btn" onclick="limpiarAsignaciones()">Limpiar Asignaciones</button>
    <table id="tabla-asignacion">
        <tr>
            <th>Docente</th>
            <th>Sección</th>
            <th>Acción</th>
        </tr>
        <!-- Los datos se cargarán dinámicamente aquí -->
    </table>

</body>
</html>
