<!DOCTYPE html>
<html>
<head>
    <title>Asignar Secciones a Estudiantes</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="static/js/asignar_secciones_alumnos.js"></script>
</head>
<body>
    <button id="limpiar-asignaciones" onclick="limpiarAsignacionesEstudiantes()">Limpiar Asignaciones</button>
    <table id="tabla-asignacion-estudiante">
        <thead>
            <tr>
                <th>Estudiante</th>
                <th>Sección</th>
                <th>Asignar</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
</html>
