<!DOCTYPE html>
<html>
<head>
    <title>Asignar Secciones a Estudiantes</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css" rel="stylesheet" type="text/css"/>
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap" rel="stylesheet"/>

</head>
<body>
    <button id="limpiar-asignaciones" onclick="limpiarAsignacionesEstudiantes()">Limpiar Asignaciones</button>
    <table id="tabla-asignacion-estudiante">
        <thead>
            <tr>
                <th>Estudiante</th>
                <th>Sección</th>
                <th>Asignar</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script src="static/js/asignar_secciones_alumnos.js"></script>
    <link rel="stylesheet" href="static/css/style_asignar_secciones.css">
</body>
</html>
