<!DOCTYPE html>
<html>
<head>
  <title>Asistencia para aula</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style_attendance_aula.css">
  <script src="/static/js/attendance_aula.js"></script>
</head>
<body>
<div id="loadingSpinner"></div>
  <div class="row text-center">
    <div class="col">
      <h2>Asistencia para aula</h2>
      <form id="start-form" action="/start/aula" method="POST">
        <div class="form-group">
          <label for="section_name">Seleccione una sección:</label>
          <select class="form-control" id="section_name" name="section_name">
            {% for seccion in secciones %}
              <option value="{{ seccion.nombre_seccion }}">{{ seccion.nombre_seccion }}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Tomar asistencia</button>
      </form>
      <div>
        <button type="button" id="btnCargarAsistencia">Cargar Asistencia</button>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <h2>Asistencia</h2>
      <table id="tabla_asistencia" class="table table-striped">
        <thead>
          <tr>
            <th>Código Alumno</th>
            <th>Nombre Alumno</th>
            <th>Hora</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <!-- Las filas se llenarán dinámicamente con JavaScript -->
        </tbody>
      </table>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</body>
</html>
