<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>
    <meta charset="utf-8">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Proyecto de Investigacion</title>
    <!-- Bootstrap core CSS -->
    <link href="static/index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/index/assets/css/style-index.css">
  </head>
<body>
  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="static/index/images/tech-video.mp4" type="video/mp4" />
      </video>
      <div class="video-overlay header-text">
          <div class="caption">
            <h6>Inteligencia Artificial</h6>
            <h2><em>Reconocimiento</em> Facial</h2>
            <div class="main-button">
              <button id="ingresar-button" class="scroll-to-section">Ingresar</button>
            </div>
          </div>
        </div>
  </section>
    <script src="/static/js/index.js"></script>
</body>
</html>