<!DOCTYPE html>
<html>
  <head>
    <title>Main Web</title>
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/main/css/style.css">
  </head>
  <body>
    <video autoplay muted loop id="bg-video">
          <source src="static/main/images/H.mp4" type="video/mp4" />
      </video>
    <div class="container">

        <div class="contenedor">
          <div class="imagen">
            <img src="/static/main/images/image1.png" alt="Imagen 1">
          </div>
          <button id="panel-adm-btn" class="btn btn-primary">Administrador del sistema</button>
        </div>
        <div class="contenedor">
          <div class="imagen">
            <img src="/static/main/images/image2.png" alt="Imagen 2">
          </div>
          <button id="panel-padm-btn" class="btn btn-primary">Personal Administrativo</button>
        </div>
        <div class="contenedor">
          <div class="imagen">
            <img src="/static/main/images/image3.png" alt="Imagen 3">
          </div>
          <button id="panel-docente-btn" class="btn btn-primary">Docente</button>
        </div>
      </div>
    <script src="static/main/js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
  </body>
</html>