<!DOCTYPE html>
<html>
<head>
  <title>Administrador</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles_panel_administrador.css">
    <link rel="stylesheet" href="/static/css/style_upload.css">
  <link rel="stylesheet" href="/static/nuevo_registro/css/style.css">
</head>
<body>
  <header>
    <h1>Panel del administrador</h1>
    <div id="usuario-info">
      {% if 'nombre_usuario' in session %}
      <span id="nombre-usuario">Bienvenido, {{ session['nombre_usuario'] }}</span>
      <a href="/logout" id="cerrar-sesion">Cerrar sesión</a>
      {% endif %}
    </div>
  </header>
  <nav>
    <ul>

      <li><a href="#" id="enlace-link_2" class="buttonp">Cargar información</a></li>
      <li><a href="#" id="enlace-link_3" class="buttonp">Registro de rostros</a></li>
      <!--<li><a href="#" id="enlace-link_4" class="buttonp">Reporte general</a></li>-->
      <li><a href="#" id="enlace-link_5" class="buttonp">Crear perfil</a></li>
      <li><a href="#" id="enlace-link_1" class="buttonp">Buscar Perfil</a></li>
      <!--<li><a href="#" id="enlace-link_6" class="buttonp">adicional 2</a></li>
      <li><a href="#" id="enlace-link_7" class="buttonp">adicional 3</a></li>-->
    </ul>
  </nav>

  <main>
    <div id="contenido-adicional">
      <div id="campo-dinamico">

      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="/static/js/panel_administrador.js"></script>
  <script src="static/js/subir_archivo.js"></script>
<script src="/static/js/update_user.js"></script>

</body>
</html>
