<!DOCTYPE html>
<html>
<head>
  <title>Administrativo</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="/static/css/styles_panel_administrativo.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body>
  <header>
    <h1>Panel del personal administrativo</h1>
    <div id="usuario-info">
      {% if 'nombre_usuario' in session %}
      <span id="nombre-usuario">Bienvenido, {{ session['nombre_usuario'] }}</span>
      <a href="/logout" id="cerrar-sesion">Cerrar sesión</a>
      {% endif %}
    </div>
  </header>
  <nav>
    <ul>
      <li><a href="#" id="enlace-link_1" class="buttonp">Mi Perfil</a></li>
      <li><a href="#" id="enlace-link_2" class="buttonp">Asignar seccion alumno</a></li>
      <li><a href="#" id="enlace-link_3" class="buttonp">Asignar seccion docente</a></li>
      <li><a href="#" id="enlace-link_4" class="buttonp">Reporte de rostros</a></li>
      <li><a href="#" id="enlace-link_8" class="buttonp">Reporte de alumnos no autorizados </a></li>
      <li><a href="#" id="enlace-link_9" class="buttonp">Alumnos Jalados por Inasistencia </a></li>
      <li><a href="#" id="enlace-link_7" class="buttonp">Ver lista de Docentes</a></li>
      <li><a href="#" id="enlace-link_5" class="buttonp">Ver lista alumnos</a></li>
      <li><a href="#" id="enlace-link_6" class="buttonp">Busqueda de Alumnos</a></li>

    </ul>
  </nav>

  <main>
    <div id="contenido-adicional">
      <!-- texto o algo mas-->
      <div id="campo-dinamico">

      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
  <script src="/static/js/panel_administrativo.js"></script>
</body>
</html>
