<!DOCTYPE html>
<html>
<head>
  <title>Docente</title>
  <link rel="stylesheet" href="/static/css/styles_panel_docente.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body>
  <header>
    <h1>Panel del docente</h1>
    <div id="usuario-info">
      {% if 'nombre_usuario' in session %}
      <span id="nombre-usuario">Bienvenido, {{ session['nombre_usuario'] }}</span>
      <a href="/logout" id="cerrar-sesion">Cerrar sesión</a>
      {% endif %}
    </div>
  </header>
  <nav>
    <ul>
      <li><a href="#" id="enlace-link_1" class="buttonp">Mi Perfil</a></li>
      <li><a href="#" id="enlace-link_2" class="buttonp">Asistencia en Aula</a></li>
      <li><a href="#" id="enlace-link_3" class="buttonp">Asistencia en Laboratorio</a></li>
      <li><a href="#" id="enlace-link_4" class="buttonp">Búsqueda de Asistencia de Alumnos</a></li>
      <!--<li><a href="#" id="enlace-link_5" class="buttonp">Ver lista asistentes</a></li>-->
      <li><a href="#" id="enlace-link_6" class="buttonp">Ver asistencia de alumnos</a></li>
      <li><a href="#" id="enlace-link_7" class="buttonp">Reporte de alumnos jalados por Inasistencia</a></li>
    </ul>
  </nav>

  <main>
    <div id="contenido-adicional">
      <!-- texto o algo mas-->
      <div id="campo-dinamico">
        {% if 'secciones_asignadas' in session %}
          {% for seccion in session['secciones_asignadas'] %}
            <p>{{ seccion.nombre }}</p>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
  <script src="/static/js/panel_docente.js"></script>
<script src="/static/js/attendance_laboratorio.js"></script>
</body>
</html>
