<!DOCTYPE html>
<html>
<head>
  <title>Lista de Docentes</title>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style_faces_report.css">
</head>
<body>
  <h1>Lista de Docentes y Secciones</h1>
  <table>
    <thead>
      <tr>
        <th>Código de Docente</th>
        <th>Nombre</th>
        <th>Secciones asigandas</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- DataTables -->
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <!-- SweetAlert -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
  <script src="static/js/reporte_docente.js"></script>
</body>
</html>
