<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reporte de Alumnos jalados</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css" rel="stylesheet" type="text/css"/>
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap" rel="stylesheet"/>
</head>
<body>
    <select id="seccion-select">
    <option value="">Seleccione una sección</option>
    </select>

    <table id="tabla-jalados" class="display">
    <thead>
        <tr>
            <th>N°</th>
            <th>Código Alumno</th>
            <th>Nombre</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
    <!-- Los datos se insertarán aquí desde JavaScript -->
    </tbody>
    </table>
    <script src="static/js/reporte_inasistencia.js"></script>
    <link rel="stylesheet" href="static/css/style_asignar_secciones.css">

</body>
</html>