<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reporte de Alumnos jalados</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style_asignar_secciones.css">

</head>
<body>
    <select id="seccion-select">
    <option value="">Seleccione una sección</option>
    </select>

    <table id="tabla-jalados" class="display">
    <thead>
        <tr>
            <th>N°</th>
            <th>Código Alumno</th>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
    <!-- Los datos se insertarán aquí desde JavaScript -->
        {% for row in table_data %}
            <tr>
                <td>{{ row.codigo_alumno }}</td>
                <td>{{ row.nombre }}</td>
                <td>{{ row.formatted_date | date("Y-m-d") }}</td>
                <td>{{ row.estado }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <button id="download-pdf" onclick="downloadPDF();">Descargar PDF</button>
    <button id="download-csv" onclick="downloadCSV();">Descargar CSV</button>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
    <!-- Your Script -->
    <script src="static/js/reporte_inasistencia.js"></script>
</body>
</html>