<!DOCTYPE html>
<html>
<head>
  <title>Busqueda de alumno</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style_busqueda.css">
</head>
<body>
  <div class="row">
    <div class="col">
      <h2>Consulta de alumno</h2>
      <form id="student-search-form" action="" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" id="codigo_alumno" name="codigo_alumno" placeholder="Ingrese el código del alumno">

          <select id="seccion" name="seccion" data-usuario-id="{{ session['usuario_id'] }}">
            <!-- Las opciones se llenarán dinámicamente con JavaScript -->
          </select>

          <button type="submit" class="btn btn-primary">Buscar alumno</button>
        </div>
      </form>
    </div>
  </div>

  <div id="campo-dinamico">
    {% if usuario %}

    {% if usuario and primer_archivo %}
    <!--<h1>Foto</h1>-->
    <img id="myImage" src="{{ url_for('static', filename='faces/' + usuario.codigo_alumno + '/' + primer_archivo) }}" alt="Imagen de rostro del usuario">
    {% endif %}

    <h1>Detalles del Alumno</h1>
    <p>Código de Alumno: {{ usuario.codigo_alumno }}</p>
    <p>Nombre: {{ usuario.nombre }}</p>
    <p>Ciclo Actual: {{ usuario.ciclo_academico }}</p>
    <p>Fecha de ingreso: {{ usuario.fecha_ingreso }}</p>

    {% if pertenece_seccion %}
    <h2>Sección: {{ seccion }}</h2>
    {% else %}
    <h2>El alumno no pertenece a la sección seleccionada.</h2>
    {% endif %}

    {% if ultima_asistencia %}
    <h2>Última asistencia a la aula:</h2>
    <p>Fecha de registro: {{ ultima_asistencia.fecha }}</p>
    <p>Hora de registro: {{ ultima_asistencia.hora }}</p>
    {% else %}
    <p>Este alumno no tiene registros de asistencia a la aula.</p>
    {% endif %}

    {% elif no_results %}
    <p>No se encontró ningún usuario con el código de alumno proporcionado.</p>
    {% endif %}
    {% if usuario %}
  {% endif %}
  </div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/static/js/resultado_busqueda.js"></script>
</body>
</html>
