<!DOCTYPE html>
<html>
<head>
  <title>Busqueda de alumno</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style_busqueda.css">
</head>
<body>
  <div class="row">
    <div class="col">
      <h2>Busqueda de Alumnos</h2>
      <form id="search-form" action="" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" id="codigo_alumno" name="codigo_alumno" placeholder="Ingrese el código del alumno">
          <button type="submit" class="btn btn-primary">Buscar alumno</button>
        </div>
      </form>
    </div>
  </div>

  <div class="loader" id="spinner" style="display: none;"></div>

  <div id="campo-dinamico">
    {% if usuario %}
    <!-- Button to initiate webcam -->
    <button id="update-photo-btn">Actualizar foto</button>
    <!-- Initially hidden Webcam integration -->
    <div id="webcam-section" style="display:none;">
        <video id="webcam" width="320" height="240" autoplay></video>
        <canvas id="canvas" width="320" height="240" style="display:none;"></canvas>
        <button id="capture-btn">Tomar foto</button>
        <button id="save-btn">Guardar foto</button>
    </div>
    <br>
  {% if usuario and primer_archivo %}
    <img id="myImage" src="{{ url_for('static', filename='faces/' + usuario.codigo_alumno + '/' + primer_archivo) }}" alt="Imagen de rostro del usuario">
    {% endif %}

    <h1>Detalles del Alumno</h1>
    <p>Código de Alumno: {{ usuario.codigo_alumno }}</p>
    <p>Nombre: {{ usuario.nombre }}</p>
    <p>Ciclo Actual: {{ usuario.ciclo_academico }}</p>
    <p>Fecha de ingreso: {{ usuario.fecha_ingreso }}</p>
    <p>Fecha de foto: {{ usuario.ultima_actualizacion_foto }}</p>

    <!--{% if ultima_asistencia_aula %}
    <h2>Última asistencia a la aula:</h2>
    <p>Fecha de registro: {{ ultima_asistencia_aula.fecha }}</p>
    <p>Hora de registro: {{ ultima_asistencia_aula.hora.strftime('%H:%M:%S') }}</p>
    {% endif %}

    {% if ultima_asistencia_laboratorio %}
    <h2>Última asistencia al laboratorio:</h2>
    <p>Fecha de registro: {{ ultima_asistencia_laboratorio.fecha }}</p>
    <p>Hora de registro: {{ ultima_asistencia_laboratorio.hora.strftime('%H:%M:%S') }}</p>
    {% else %}
    <p>Este alumno no tiene registros de asistencia al laboratorio.</p>
    {% endif %}-->

    {% else %}
    <p>No se encontró ningún usuario con el código de alumno proporcionado.</p>
    {% endif %}
  </div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/static/js/search_student.js"></script>
</body>
</html>
