<!DOCTYPE html>
<html lang="en">
<head>
  <title>Estudiantes por Sección</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Estudiantes por Sección</h1>

  <select id="seccion" name="seccion">
    <!-- Las opciones se llenarán dinámicamente con JavaScript -->
  </select>

  <!-- Añade aquí el elemento de entrada de fecha -->
  <label for="fecha">Fecha:</label>
  <input type="date" id="fecha">

  <button id="search-btn">Buscar estudiantes</button>

  <table>
    <thead>
      <tr>
        <th>Código de Alumno</th>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody id="estudiantes">
      <!-- Los estudiantes se llenarán dinámicamente con JavaScript -->
    </tbody>
  </table>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="static/js/ver_asistencia.js"></script>
</body>
</html>
