
<!DOCTYPE html>
<html>
<head>
    <title>Datos del Usuario</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style_view_user.css">

</head>
<body>
    <h1>Datos del Usuario</h1>
    <form>
        <div class="field">
            <label for="tipo_perfil">Tipo Perfil:</label>
            <span id="tipo_perfil_text">{{ usuario.tipo_perfil }}</span>

            <img src="/static/main/images/img.png" alt="User Image" class="user-image">

            <label for="numero_documento">Numero documento:</label>
            <span id="numero_documento_text">{{ usuario.numero_documento }}</span>

            <label for="nombre">Nombre:</label>
            <span id="nombre_text">{{ usuario.nombre }}</span>

            <label for="apellido_paterno">Apellido Paterno:</label>
            <span id="apellido_paterno_text">{{ usuario.apellido_paterno }}</span>

            <label for="apellido_materno">Apellido Materno:</label>
            <span id="apellido_materno_text">{{ usuario.apellido_materno }}</span>

            <label for="fecha_nacimiento">Fecha Nacimiento:</label>
            <span id="fecha_nacimiento_text">{{ usuario.fecha_nacimiento }}</span>

            <label for="correo_electronico">Correo:</label>
            <span id="correo_electronico_text">{{ usuario.correo_electronico }}</span>

            <label for="celular">Celular:</label>
            <span id="celular_text">{{ usuario.celular }}</span>

            <label for="clave_asignada" class="password-label">Contraseña:</label>
            <span id="clave_asignada_text">******</span>
            <button type="button" id="changePasswordButton" class="btn">Actualizar contraseña</button>

        </div>

        <div id="passwordModal" class="modal">
            <div class="modal-content">
                <span id="closeModal" class="close">&times;</span>
                <p>Cambiar Contraseña</p>
                <input type="password" id="newPassword" placeholder="Nueva Contraseña">
                <input type="password" id="repeatPassword" placeholder="Repetir Contraseña">
                <button type="button" id="savePassword">Guardar</button>
            </div>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/view_user.js"></script>
</body>
</html>


